<section class="edit-post">
    <header>
        <h1>EDIT</h1>
    </header>
    <form method="post" action="/edit/<%= @post.id %>">
        <input type="hidden" name="_method" value="put">
        <%= erb "partials/_post_inputs".to_sym %>
    </form>
</section>


<ul>
    <li><%= @post.title %></li>
    <li><%= @post.author %></li>
    <li><%= @post.content %></li>
</ul>